/* Game.css */
.container {
    position: relative;
    width: 100%; /* 100% of the container's width */
    padding-top: 75%; /* 75% of the container's width to set the aspect ratio (adjust as needed) */
    border: 3px solid whitesmoke;
    overflow: hidden;
  }
  
  .ball {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: whitesmoke;
    border-radius: 50%;
  }
  
  .paddle {
    position: absolute;
    width: 1%;
    height: 12%;
  }
  
  .paddle1 {
    left: 1%; /* Adjust paddle position as needed */
    background-color: whitesmoke;
  }
  
  .paddle2 {
    right: 1%; /* Adjust paddle position as needed */
    background-color: whitesmoke;
  }
  
  .score {
    /* Adjust score position to be above the game frame */
    position: absolute;
    color: whitesmoke;
    font-size: 100%; /* Adjust font size as needed */
  }
  
  .score1 {
    top: 1%; /* Adjust score position as needed */
    left: 1%;
  }
  
  .score2 {
    top: 1%; /* Adjust score position as needed */
    right: 1%;
  }
  