.contact {
	position : relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 8px;
	align-items: center;
}

.contact-image {
	position : relative;
	width: 40px;
	height: 40px;
	border-radius: 30px;
	display: block;
}

.contact-name {
	position : relative;
	width: 68%;
	text-align: left;
	font-size: 12px;
	padding-left: 10px;
	text-align: center;
}

.img-container {
	width: 16%;
	position : relative;
}

.status-icon {
	width: 16%;
	position : relative;
}

.online-button{
	width: 18px;
}