.logo-home{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
}

.game-home{
    display: flex;
    justify-content: center;
}

.game-pong-home{
    width: 650px;
    padding-top: 25%;
}