*
  .wrapper {
	/* max-width: 50rem; */
	background: #000000;
	width: 30%;
	margin: 0 auto;
  }
  .tabs {
	height: 3.5rem;
	
  }

  .active-tab {
	background-color : #510779;
	border-color:#663880;
	border-width: 0.2rem;
	border-style: solid;
	border-bottom-style: hidden;
	border-radius: 1rem;
  }

  .inactive-tab {
	background-color : #510779;
	border-color:#663880;
	border-width: 0.2rem;
	border-style: hidden;
	border-bottom-style: solid;
	border-radius: 1rem;
  }

  .tabs > div {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
	
  }
  
  .tab-content {
	/* height: 12rem; */
	width: 100%;
	position: relative;
	z-index: 1;
	padding: 1.618rem;
	background-color: #510779;
	transition: all 0.35s;
	border-color:#663880;
	border-width: 0.2rem;
	border-style: solid;
	border-top-style: hidden;
	border-radius: 1rem;
  }
